body {
    text-align: center;
}

.checkout-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 150px auto;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 5px;
}

.checkout-container label {
  flex: 0 1 200px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.checkout-container input[type="text"] {
  flex: 1 1 auto;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.checkout-container input[type="submit"] {
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #1e90ff;
  color: #fff;
  cursor: pointer;
}

.checkout-container input[type="submit"]:hover {
  background-color: #007bff;
}