body {
  text-align: center;
}

.checkout-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15%;
  margin-right: 25%;
  margin-left: 25%;
  width: 50%;
  background-color: aliceblue;
  border-radius: 5px;
  padding-bottom: 2rem;
  padding-top: 0.5rem;
}

.checkout-container label {
  flex: 0 1 200px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.checkout-container input[type="text"] {
  flex: 1 1 auto;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.checkout-container input[type="submit"] {
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #1e90ff;
  color: #fff;
  cursor: pointer;
}

.checkout-container input[type="submit"]:hover {
  background-color: #007bff;
}
