.headliners-container,
.sports-container,
.upcoming-shows-container,
.soldout-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 95vw;
  margin-left: auto;
  margin-right: auto;
}

.home-display {
  margin-bottom: 0;
}

.headliners {
  display: flex;
  width: 100%;
  height: 80%;
}

.headliner-image {
  height: 70%;
  display: flex;
}

.headliner-info {
  display: flex;
  flex-direction: row;
  text-align: left;
  width: 90%;
  margin-top: 2rem;
}

.ticket-button {
  margin: 0;
  padding: 0;
  height: 75%;
  padding: 0.5em;
  margin-top: auto;
  margin-bottom: auto;
  background-color: rgb(10, 129, 233);
  color: white;
  border: none;
  border-radius: 4px;
  margin-left: 2vw;
}

.ticket-button:hover {
  background-color: rgb(34, 187, 80);
  cursor: pointer;
}

.sports,
.upcoming-container {
  display: flex;
  margin-top: 3px;
  width: 100%;
  overflow-x: auto;
}

.music,
.sport {
  display: flex;
  margin-right: 1vw;
}

.home-image:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.2s;
}
