.home {
  font-size: 1.5vh;
}

/* .home-display {
  margin: 5px;
} */

.headliners {
  display: flex;
  border: 1px solid black;
  height: 50%;
  padding: 1rem;
  /* justify-content: space-around; */
}

.headliner-main-container,
.headliners-container{
  width: 50%;
  height: auto;
  /* border: 1px solid black; */
  /* position: relative; */
  /* padding: 1rem; */
}

.headliner-main-container img,
.headliners-container img {
  width: auto;
  height: 100%;
}
.home-image {
  border: 1.5px solid rgb(224, 224, 224);
}

.home-image:hover {
  cursor: pointer;
  /* opacity: 0.7;
  transition: opacity 0.3s; */
}


.sports-container,
.upcoming-container {
  display: flex;
  justify-content: space-evenly;
  overflow-x: auto;
  width: 100vw;
  /* margin-left: 1vw;
  margin-right: 1vw; */
  padding-left: 1vw;
  padding-right: 1vw;
}

.sport,
.music {
  display: flex;
  justify-content: space-evenly;
  margin-right: 1vw;
}

.sport img:hover,
.music img:hover {
  cursor: pointer;
  /* opacity: 0.7; */
}

.upcoming-container {
  display: flex;
  overflow-x: auto;
}







/* @media only screen and (max-width: 880px) {
  .headliners {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  .headliner-main-container,
  .headliners-container {
    width: 90%;
    height: auto;
  }

} */
