.nav-container {
  /* position: fixed; */
  top: 0;
  width: 100vw;
  /* border: 1px solid white; */
}

.nav-links {
  display: flex;
  width: 100%;
  font-size: 1.25rem;
  font-weight: bold;
  background-color: #282c34;
  position: fixed;
  top: 0;
  justify-content: space-around;
  padding-top: 1.75rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.top-right {
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
  margin-left: 5rem;
}

.cart {
  margin-right: 1rem;
}

.menu-item {
  text-decoration: none;
  color: white;
}

.nav-links {
  /* display: flex; */
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

ul li {
  margin-right: 2vw;
}

ul li:hover,
.signin:hover,
.signout:hover,
.cart:hover {
  opacity: 0.7;
  transition: opacity 0.3s;
}
