.search-container {
  width: 100vw;
  height: 15vh;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  background-color: #282c34;
  /* position: relative; */
}
.search-input {
  display: flex;
  background-color: white;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2px;
  padding: .5rem;
}
.searchbar {
  font-size: 2vh;
  border-radius: 2px;
  height: 1.5vh;
  margin-top: auto;
  margin-bottom: auto;
}

.search-icon {
  color: rgb(94, 94, 94);
  margin-left: auto;
  margin-right: 2px;
}

.headline {
  margin-top: 0;
}
