.search-container {
  width: 100vw;
  height: 30vh;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3vh;
  background-color: #282c34;
}

.search-input {
  display: flex;
  background-color: white;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.searchbar {
  font-size: 2vh;
  border-radius: 2px;
  height: 2.5vh;
  margin-top: auto;
  margin-bottom: auto;
}

.search-icon {
  color: rgb(94, 94, 94);
  margin-top: 10px;
  margin-left: auto;
  margin-right: 10px;
  vertical-align: middle;
}

.headline {
  margin: 0;
}

.search-results {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.results-container ul {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
}

.result-card {
  width: 100%;
  display: flex;
  background-color: white;
}

.result-card:hover {
  opacity: 1;
  background-color: rgb(226, 226, 226);
  cursor: pointer;
}

.result-card img {
  height: 10px;
  width: auto;
}

.logo {
  height: 5.25rem;
  width: fit-content;
  padding-top: 3rem;
}
