.App {
  text-align: center;
}

.main {
  width: 100vw;
}

.headline {
  margin-top: 4vh;
  margin-bottom: 3vh;
  color: white;
}
/* main */
.home-display {
  overflow: hidden;
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #282c34;
  color: white;
  font-size: 1.3vh;
  text-align: center;
  /* width: 100vw; */
}

.footer-link {
  text-decoration: none;
  color: rgb(136, 136, 136);
  font-weight: bold;
}

.footer-link:hover {
  cursor: pointer;
  color: rgb(117, 136, 240);
}
